<% user_names =  ["pilot_tx", "seegar1549", "futureastronaut88", "bike_nc", "music023", "painter67", "kandykrush", "doublerainbow1155"] 
	comment_times = ["2d", "3h", "1m"]
%>
<% content_for :title, "Comments" %>
<div class="content-wrap">
	<div data-ajax-replace="comments-container">
		<% @comments.each_with_index do |comment, index| %>
			<div class="comment-item">
				<% if index < 3 %>

					<div>
						<span class="username"><%= user_names.sample %></span>
						<span><%= comment.body %></span>
					</div>
					<div>
						<span><%= comment_times[index] %></span>
					</div>
				
				<% else %>

					<div>
						<span class="username">Anonymous</span>
						<span><%= comment.body %></span>
					</div>
					<div>
						<span>Recently</span>
					</div>

				<% end %>
			</div>
		<% end %>	
	</div>
	<%= form_for [@story, @comment], data: { ajax_submit: "comments-container" }, html: { id: "comment-form" } do |f| %>
	  <%= f.text_area :body, label: false %>
	  <%= f.submit "Comment" %>
	<% end %>
	<div class="comment-button" id="comment-button">
		<%= fa_icon "comment-o" %><span> Comment</span>
	</div>
</div>